.Lang_Container, .Keypad_Container {
  display: flex;
  flex-wrap: wrap;
  max-width: 390px;
  justify-content: center;
  gap: 3px;
}

.Keypad_Container{
  gap: 8px;
  max-width: 400px;
}

.EmptyBox_Container {
  margin: 1rem;
  display: flex;
  gap: 3px;
}

.EmptyBox_Container > .Box_Item {
  position: relative;
  color: #F9F4DA;
  background-color: #323232;
}

.EmptyBox_Container > .Box_Item::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid #F9F4DA;
}

.lang_item, .Keypad_Container > .Box_Item, .EmptyBox_Container > .Box_Item {
  font-weight: bold;
  padding: 4px;
  border-radius: 5px;
}

.Keypad_Container > .Box_Item, .EmptyBox_Container > .Box_Item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
}

.Component_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Header_Container > h1 {
  color: #F9F4DA;
}

.Header_Container > p {
  font-size: large;
  color: #8E8E8E;
}

/* box styles */
.Keypad_Container > .Box_Item {
  border: 1px solid white;
  cursor: pointer;
  color: #1E1E1E;
  font-weight: bold;
  background-color: #FCBA29;
}

.Keypad_Container > .Box_Item:hover {
  background-color: #ca9014;
}

.Keypad_Container > .Correct {
  cursor: default;
  background-color: #10A95B
}

.Keypad_Container > .Correct:hover {
  background-color: #10A95B
}

.Keypad_Container > .Wrong {
  cursor: default;
  background-color: #EC5D49
}

.Keypad_Container > .Wrong:hover {
  background-color: #EC5D49
}


.html {
  background-color: #E2680F;
}

.css { 
  background-color: #328AF1; 
}

.javascript { 
  background-color: #F4EB13; 
  color: #1E1E1E;
}

.react { 
  background-color: #2ED3E9; 
  color: #1E1E1E;
}

.typescript { 
  background-color: #298EC6; 
}

.nodejs { 
  background-color: #599135; 
}

.python { 
  background-color: #FFD742; 
  color: #1E1E1E;
}

.ruby { 
  background-color: #D02B2B; 
}

.assembly { 
  background-color: #2D519F; 
}

@media (max-width: 400px) {
  .Keypad_Container{
    gap: 5px;
    max-width: 400px;
  }
}